<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <file>tests/Feature/GetProductDetailTest.php</file>
      <file>tests/Feature/GetProductImageTest.php</file>
      <file>tests/Feature/DeleteCartItemTest.php</file>
      <file>tests/Feature/InsertPaymentTest.php</file>
      <file>tests/Feature/GetSortedProductDressTest.php</file>
      <file>tests/Feature/GetSortedProductFashionTest.php</file>
      <file>tests/Feature/GetSortedProductSaleTest.php</file>
      <file>tests/Feature/GetSortedProductNewTest.php</file>
      <file>tests/Feature/ProductCodeRandomTest.php</file>
      <file>tests/Feature/ViewHomeTest.php</file>
    </include>
    <report>
      <html outputDirectory="coverage-report"/>
    </report>
  </coverage>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="PULSE_ENABLED" value="false"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
</phpunit>