.top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 14px;
    cursor: pointer;
}

.top-block {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.top-block img {
    width: 34px;
    border-radius: 50%;
}
