.password-app {
    background-image: url("/images/icon_image/forgot-bg.png");
    background-color: #f7f0e3;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    min-height: 70vh;
    background-size: 60% 88%;
    background-position: right center;
}

.password-form {
    margin-top: 100px;
    margin-left: 120px;
}

.password-form h1 {
    font-size: 54px;
    font-weight: bold;
}

.password-form p {
    color: #787678;
}

.password-email input {
    border: 1px solid hsla(0, 0%, 44%, 0.5);
    border-radius: 62.4375rem;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.875rem 1.25rem;
    width: 42%;
    outline: none;
}

.password-btn {
    margin-top: 26px;
}

.password-btn button {
    color: #fff;
    transition: 0.4s ease;
    background-color: #00aeef;
    outline: none;
    border-radius: 26px;
    padding: 16px 33px;
    border: none;
    transition: 0.4s ease;
}

.password-btn button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.password-form-forgot {
    margin-left: 120px;
    margin-top: 42px;
}

.password-form-forgot h1 {
    font-size: 45px;
    font-weight: bold;
}

.form-forgot-input {
    margin: 20px 0;
}

.reset-app {
    background-image: url("/images/icon_image/forgot-password.svg");
    background-color: #f7f0e3;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    min-height: 70vh;
    background-size: 42% 62%;
    background-position: right center;
}
